.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #fff4f1;
  padding: 1.5rem 0rem;
}

.confirmationLogo {
  width: 4rem;
}

.confirmationHeader {
  color: var(--primary-color);
  font-family: var(--font-heading);
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: lighter;
}

.totalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius);
  text-indent: 10px;
  margin: 3.5rem 0rem 1rem 0rem;
}

.totalText {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}

.noBookingLogo {
  width: 3rem;
  padding-bottom: 1rem;
}

.noBookingText {
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 600;
}
